
  @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --primary-color:#ffffff;
    --secondary-color:#f2f2f2;
    --focus-color:rgb(20,20,20);

    --heading-font: 'Libre Franklin', 'Open Sans' ,sans-serif;
}